In [360]:
import pandas as pd
path=r'B:\...\...\...\Ogun_NDHS_2013.dta'
Ogun_ndhs2013=pd.read_stata(path)

In [361]:
Ogun_ndhs2013.shape

(630, 4617)

# Though there are 4617 features (variables) in this dataframe and 630 rows (observations), we would only be using the 9 in our analysis. We would only keep the 9 in the dataframe

In [309]:
# We need to select only 9 features needed in this analysis, and drop the remaining. 
Variables_needed=['v313','v025', 'v012', 'v013', 'v203', 'v205', 'v218', 'v106', 'v190'] # These are the only variables needed in this analysis.

In [310]:
Ogun_ndhs2013=Ogun_ndhs2013[Variables_needed]

In [91]:
Ogun_ndhs2013.shape

(630, 9)

In [11]:
Ogun_ndhs2013.head(9)

            v313   v025  v012   v013  v203  v205  v218       v106     v190
0  Modern method  Urban    34  30-34     3     0     4    Primary  Richest
1      No method  Urban    15  15-19     0     0     0  Secondary  Richest
2  Modern method  Urban    26  25-29     2     0     2  Secondary  Richest
3  Modern method  Urban    33  30-34     2     0     5    Primary   Richer
4      No method  Urban    16  15-19     0     0     0  Secondary   Richer
5      No method  Urban    34  30-34     3     0     4    Primary   Richer
6  Modern method  Urban    33  30-34     4     0     5  Secondary  Richest
7  Modern method  Urban    21  20-24     0     0     1  Secondary  Richest
8      No method  Urban    41  40-44     1     0     2  Secondary  Richest

# 4.1.1 Chi-square test or chi-square test of independence

In [362]:
import pandas as pd
path=r'B:\...\...\...\Ogun_NDHS_2013.dta'
Ogun_ndhs2013=pd.read_stata(path)
Variables_needed=['v313','v025', 'v012', 'v013', 'v203', 'v205', 'v218', 'v106', 'v190']
Ogun_ndhs2013=Ogun_ndhs2013[Variables_needed]

In [363]:
# import numpy as np
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [364]:
Ogun_ndhs2013 ['v025'].value_counts()

Urban    358
Rural    272
Name: v025, dtype: int64

In [365]:
# 4-response-category:  No method, Modern method, Traditional method, folkloric method 
Ogun_ndhs2013 ['v313'].value_counts()

No method             489
Modern method         118
Traditional method     16
Folkloric method        7
Name: v313, dtype: int64

In [366]:
#We will recode into 3-response-category: No method, Modern Method, and Others
v313_recode =  { "v313": 
                             {"No method": 'No method',  
                              "Modern method": 'Modern method',  
                              "Traditional method": 'Others',  
                              "Folkloric method": 'Others'}
             }    

Ogun_ndhs2013.replace(v313_recode, inplace=True)

In [367]:
# 3-response-category:  No method, Modern method, Others 
Ogun_ndhs2013 ['v313'].value_counts()

No method        489
Modern method    118
Others            23
Name: v313, dtype: int64

In [368]:
tab0=pd.crosstab(index=Ogun_ndhs2013.v313, columns=Ogun_ndhs2013.v025)
print(tab0)

v025           Urban  Rural
v313
Modern method     67     51
No method        278    211
Others            13     10

In [369]:
chi2, p, dof, expected=chi2_contingency(tab0.values)
print('Chi-square statistic is %0.3f,  p_value is %0.3f' %(chi2,p))

Chi-square statistic is 0.001,  p_value is 0.999

# 4.1.2 T-test of mean difference

There are majorly three types of T-test
1. One sample t-test 
2. Two independent sample t-test
3. Paired Sample t-test

# 4.1.2.1 One-sample T-test of mean difference

In [371]:
import pandas as pd
path=r'B:\...\...\...\Ogun_NDHS_2013.dta'
Ogun_ndhs2013=pd.read_stata(path)
Variables_needed=['v313','v025', 'v012', 'v013', 'v203', 'v205', 'v218', 'v106', 'v190']
Ogun_ndhs2013=Ogun_ndhs2013[Variables_needed]

In [372]:
import numpy as np
from scipy import stats
from scipy.stats import ttest_ind

In [373]:
age_rural=Ogun_ndhs2013[(Ogun_ndhs2013['v012']>=15) & (Ogun_ndhs2013['v025']== "Rural")]
age_rural=age_rural['v012']
age_rural.mean(), age_rural.std()

(32.143382352941174, 9.12953281002273)

In [374]:
age_urban=Ogun_ndhs2013[(Ogun_ndhs2013['v012']>=15) & (Ogun_ndhs2013['v025']== "Urban")]
age_urban=age_urban['v012']
age_urban.mean(), age_urban.std()

(30.011173184357542, 9.572070030573496)

In [375]:
stats.ttest_ind(age_rural,age_urban)

Ttest_indResult(statistic=2.824965229514288, pvalue=0.00487875330194052)

# 4.1.2.2 Two independent sample t-test of mean difference

In [346]:
import pandas as pd
path=r'B:\Users\AKIODE AYOBAMI\Desktop\Desktop_folders\Desktop Documents\Desktop items\NURHI Kaduna\Ogun_NDHS_2013.dta'
Ogun_ndhs2013=pd.read_stata(path)
Variables_needed=['v313','v025', 'v012', 'v013', 'v203', 'v205', 'v218', 'v106', 'v190']
Ogun_ndhs2013=Ogun_ndhs2013[Variables_needed]

In [ ]:
import pandas as pd
path=r'B:\...\...\...\Ogun_NDHS_2013.dta'
Ogun_ndhs2013=pd.read_stata(path)
Variables_needed=['v313','v025', 'v012', 'v013', 'v203', 'v205', 'v218', 'v106', 'v190']
Ogun_ndhs2013=Ogun_ndhs2013[Variables_needed]

In [347]:
# for hypothetical value, Remember we are assuming this is a National Censor value
import numpy as np
from scipy import stats
from scipy.stats import ttest_1samp

In [348]:
age_rural=Ogun_ndhs2013[(Ogun_ndhs2013['v012']>=15) & (Ogun_ndhs2013['v025']== "Rural")]
age_rural=age_rural['v012']
age_rural.mean(), age_rural.std()

(32.143382352941174, 9.12953281002273)

In [349]:
Ogun_state_mean_age=Ogun_ndhs2013['v012']
Ogun_state_mean_age.mean(), Ogun_state_mean_age.std()

(30.93174603174603, 9.43558742962381)

In [350]:
stats.ttest_1samp(age_rural,31)

Ttest_1sampResult(statistic=2.0655103868921745, pvalue=0.039825426769360225)

# 4.1.2.3 Paired-sample t-test test of mean difference

In [376]:
import pandas as pd
path=r'B:\...\...\...\Ogun_NDHS_2013.dta'
Ogun_ndhs2013=pd.read_stata(path)
Variables_needed=['v313','v025', 'v012', 'v013', 'v203', 'v205', 'v218', 'v106', 'v190']
Ogun_ndhs2013=Ogun_ndhs2013[Variables_needed]

In [ ]:
#The two similar variables or features are: Number of respondent's daughters not living with respondent (v203); 
#Number of respondent's daughters living with respondent(v205)

In [377]:
import numpy as np
from scipy import stats
from scipy.stats import ttest_rel

In [378]:
daughter_home=Ogun_ndhs2013['v205']
daughter_away=Ogun_ndhs2013['v203']

In [379]:
ttest_rel(daughter_home,daughter_away, nan_policy='omit')
# The omit means that ignore pairs with missing values in the analysis. Other options are: propagate (the default argument. With this, if there are
# missing pairs or one part of a pair, the program will return "nan"); throw - will return an error message if there are
# missing pairs or one part of a pair.

Ttest_relResult(statistic=-9.842459522339624, pvalue=2.345175648401757e-21)

# Pearson Correlation test of relationship

In [380]:
import pandas as pd
path=r'B:\...\...\...\Ogun_NDHS_2013.dta'
Ogun_ndhs2013=pd.read_stata(path)
Variables_needed=['v313','v025', 'v012', 'v013', 'v203', 'v205', 'v218', 'v106', 'v190']
Ogun_ndhs2013=Ogun_ndhs2013[Variables_needed]

In [381]:
Age_X=Ogun_ndhs2013['v012']
No_Living_Chid_Y=Ogun_ndhs2013['v218']

In [382]:
import numpy as np
from scipy import stats
from scipy.stats import pearsonr

In [383]:
stats.pearsonr(Age_X, No_Living_Chid_Y)

(0.6997451243534994, 8.502131933733046e-94)

In [ ]:
Note, the first item is the correlation coefficient, while the second item is the p-value

In [384]:
print ('correlation coefficent is %0.3f, p_value is %0.3f' %(stats.pearsonr(Age_X, No_Living_Chid_Y)))

correlation coefficent is 0.700, p_value is 0.000

# 4.1.4 Regression test of Linear relationship

In [385]:
import pandas as pd
path=r'B:\...\...\...\Ogun_NDHS_2013.dta'
Ogun_ndhs2013=pd.read_stata(path)
Variables_needed=['v313','v025', 'v012', 'v013', 'v203', 'v205', 'v218', 'v106', 'v190']
Ogun_ndhs2013=Ogun_ndhs2013[Variables_needed]

In [386]:
import numpy as np
from scipy import stats
from scipy.stats import linregress

In [387]:
slope, intercept, r_value, p_value, std_err = stats.linregress(Age_X, No_Living_Chid_Y)

In [388]:
print('slope is %0.3f, intercept is %0.3f, r_value  is %0.3f, p_value  is %0.3f, std_err is %0.3f' %(slope, intercept, r_value, p_value, std_err))

slope is 0.155, intercept is -2.137, r_value  is 0.700, p_value  is 0.000, std_err is 0.006

In [389]:
 # r squared is the coefficient of determination, and tells stands between 0 and 1
print ("r-squared:", r_value**2)

r-squared: 0.48964323905649315

# 4.1.4 One-way Analysis of Variance(ANOVA)

In [390]:
import pandas as pd
path=r'B:\...\...\...\Ogun_NDHS_2013.dta'
Ogun_ndhs2013=pd.read_stata(path)
Variables_needed=['v313','v025', 'v012', 'v013', 'v203', 'v205', 'v218', 'v106', 'v190']
Ogun_ndhs2013=Ogun_ndhs2013[Variables_needed]

In [400]:
import numpy as np
from scipy import stats
from scipy.stats import f_oneway

In [391]:
#we need to check the response-categories of the predictor variable
Ogun_ndhs2013['v106'].value_counts()

Secondary       293
Primary         218
No education     72
Higher           47
Name: v106, dtype: int64

#To move forward, we would need to break the dataset into 4, based on the response-categories of 
#the nominal predictor feature. The 4 groups will be:

In [392]:
Only_secondary_education=Ogun_ndhs2013[(Ogun_ndhs2013['v106']=='Secondary') & (Ogun_ndhs2013['v012']>=15)]

In [393]:
secondary_educ_age=Only_secondary_education['v012']

In [394]:
Only_primary_education=Ogun_ndhs2013[(Ogun_ndhs2013['v106']=='Primary') & (Ogun_ndhs2013['v012']>=15)]

In [395]:
primary_educ_age=Only_primary_education['v012']

In [396]:
Only_NoEducation=Ogun_ndhs2013[(Ogun_ndhs2013['v106']=='No education') & (Ogun_ndhs2013['v012']>=15)]

In [397]:
NoEducation_educ_age=Only_NoEducation['v012']

In [398]:
Only_Higher=Ogun_ndhs2013[(Ogun_ndhs2013['v106']=='Higher') & (Ogun_ndhs2013['v012']>=15)]

In [399]:
Higher_educ_age=Only_Higher['v012']

In [401]:
f_oneway(secondary_educ_age,primary_educ_age, NoEducation_educ_age, Higher_educ_age)

F_onewayResult(statistic=16.408322234067832, pvalue=2.82517891463189e-10)

# 4.2.1 Man-Whitney U test

In [405]:
import pandas as pd
path=r'B:\...\...\...\Ogun_NDHS_2013.dta'
Ogun_ndhs2013=pd.read_stata(path)
Variables_needed=['v313','v025', 'v012', 'v013', 'v203', 'v205', 'v218', 'v106', 'v190']
Ogun_ndhs2013=Ogun_ndhs2013[Variables_needed]

In [406]:
import numpy as np
from scipy import stats
from scipy.stats import mannwhitneyu

In [407]:
age_rural=Ogun_ndhs2013[(Ogun_ndhs2013['v012']>=15) & (Ogun_ndhs2013['v025']== "Rural")]
age_rural=age_rural['v012']
age_rural.mean(), age_rural.std()

(32.143382352941174, 9.12953281002273)

In [408]:
age_urban=Ogun_ndhs2013[(Ogun_ndhs2013['v012']>=15) & (Ogun_ndhs2013['v025']== "Urban")]
age_urban=age_urban['v012']
age_urban.mean(), age_urban.std()

(30.011173184357542, 9.572070030573496)

In [409]:
stats.mannwhitneyu(age_rural,age_urban)

MannwhitneyuResult(statistic=42368.0, pvalue=0.0026005588156604786)

# 4.2.2 Spearman Rank Correlation

In [410]:
import pandas as pd
path=r'B:\...\...\...\Ogun_NDHS_2013.dta'
Ogun_ndhs2013=pd.read_stata(path)
Variables_needed=['v313','v025', 'v012', 'v013', 'v203', 'v205', 'v218', 'v106', 'v190']
Ogun_ndhs2013=Ogun_ndhs2013[Variables_needed]

In [411]:
import numpy as np
from scipy import stats
from scipy.stats import spearmanr

In [412]:
Age_X=Ogun_ndhs2013['v012']
No_Living_Chid_Y=Ogun_ndhs2013['v218']

In [413]:
stats.spearmanr(Age_X, No_Living_Chid_Y)

SpearmanrResult(correlation=0.7243634758030785, pvalue=1.619573824686191e-103)

# 4.2.3 Kruskal Wallis

In [424]:
import pandas as pd
path=r'B:\...\...\...\Ogun_NDHS_2013.dta'
Ogun_ndhs2013=pd.read_stata(path)
Variables_needed=['v313','v025', 'v012', 'v013', 'v203', 'v205', 'v218', 'v106', 'v190']
Ogun_ndhs2013=Ogun_ndhs2013[Variables_needed]

In [425]:
import numpy as np
from scipy import stats
from scipy.stats import kruskal

In [426]:
Only_secondary_education=Ogun_ndhs2013[(Ogun_ndhs2013['v106']=='Secondary') & (Ogun_ndhs2013['v012']>=15)]

In [427]:
secondary_educ_age=Only_secondary_education['v012']

In [428]:
Only_primary_education=Ogun_ndhs2013[(Ogun_ndhs2013['v106']=='Primary') & (Ogun_ndhs2013['v012']>=15)]

In [429]:
primary_educ_age=Only_primary_education['v012']

In [430]:
Only_NoEducation=Ogun_ndhs2013[(Ogun_ndhs2013['v106']=='No education') & (Ogun_ndhs2013['v012']>=15)]

In [431]:
NoEducation_educ_age=Only_NoEducation['v012']

In [432]:
Only_Higher=Ogun_ndhs2013[(Ogun_ndhs2013['v106']=='Higher') & (Ogun_ndhs2013['v012']>=15)]

In [433]:
Higher_educ_age=Only_Higher['v012']

In [434]:
stats.kruskal(secondary_educ_age,primary_educ_age, NoEducation_educ_age, Higher_educ_age)

KruskalResult(statistic=46.32848785695226, pvalue=4.828906787899525e-10)

# 4.2.4. Mood Median test

In [435]:
import pandas as pd
path=r'B:\...\...\...\Ogun_NDHS_2013.dta'
Ogun_ndhs2013=pd.read_stata(path)
Variables_needed=['v313','v025', 'v012', 'v013', 'v203', 'v205', 'v218', 'v106', 'v190']
Ogun_ndhs2013=Ogun_ndhs2013[Variables_needed]

In [436]:
import numpy as np
from scipy import stats
from scipy.stats import median_test

In [437]:
Only_secondary_education=Ogun_ndhs2013[(Ogun_ndhs2013['v106']=='Secondary') & (Ogun_ndhs2013['v012']>=15)]

In [438]:
secondary_educ_age=Only_secondary_education['v012']

In [439]:
Only_primary_education=Ogun_ndhs2013[(Ogun_ndhs2013['v106']=='Primary') & (Ogun_ndhs2013['v012']>=15)]

In [440]:
primary_educ_age=Only_primary_education['v012']

In [441]:
Only_NoEducation=Ogun_ndhs2013[(Ogun_ndhs2013['v106']=='No education') & (Ogun_ndhs2013['v012']>=15)]

In [442]:
NoEducation_educ_age=Only_NoEducation['v012']

In [443]:
Only_Higher=Ogun_ndhs2013[(Ogun_ndhs2013['v106']=='Higher') & (Ogun_ndhs2013['v012']>=15)]

In [444]:
Higher_educ_age=Only_Higher['v012']

In [445]:
stat, p, med, tbl = median_test(secondary_educ_age,primary_educ_age, NoEducation_educ_age, Higher_educ_age)

In [446]:
print('statistic is %0.3f, p_value is %0.3f, median is %0.3f' %(stat, p, med))

statistic is 29.718, p_value is 0.000, median is 30.000

In [447]:
print(tbl)

[[114 135  41  19]
 [179  83  31  28]]

# 4.2.5. Goodman and Kruska's gamma

In [448]:
import pandas as pd
path=r'B:\...\...\...\Ogun_NDHS_2013.dta'
Ogun_ndhs2013=pd.read_stata(path)
Variables_needed=['v313','v025', 'v012', 'v013', 'v203', 'v205', 'v218', 'v106', 'v190']
Ogun_ndhs2013=Ogun_ndhs2013[Variables_needed]

In [454]:
import numpy as np
from scipy import stats
from scipy.stats import norm

In [455]:
def goodmanKruskalgamma(data, row_feature, column_feature):
    myCrosstable = pd.crosstab(data[row_feature], data[column_feature])
    
    nRows = myCrosstable.shape[0]
    nCols = myCrosstable.shape[1]
    
    
    C = [[0 for x in range(nCols)] for y in range(nRows)] 

    # top left part
    for i in range(nRows):
        for j in range(nCols):
            h = i-1
            k = j-1        
            if h>=0 and k>=0:            
                for p in range(h+1):
                    for q in range(k+1):
                        C[i][j] = C[i][j] + list(myCrosstable.iloc[p])[q]

    # bottom right part                    
    for i in range(nRows):
        for j in range(nCols):
            h = i+1
            k = j+1        
            if h<nRows and k<nCols:            
                for p in range(h, nRows):
                    for q in range(k, nCols):
                        C[i][j] = C[i][j] + list(myCrosstable.iloc[p])[q]
                        
    D = [[0 for x in range(nCols)] for y in range(nRows)] 

    # bottom left part
    for i in range(nRows):
        for j in range(nCols):
            h = i+1
            k = j-1        
            if h<nRows and k>=0:            
                for p in range(h, nRows):
                    for q in range(k+1):
                        D[i][j] = D[i][j] + list(myCrosstable.iloc[p])[q]

    # top right part                    
    for i in range(nRows):
        for j in range(nCols):
            h = i-1
            k = j+1        
            if h>=0 and k<nCols:            
                for p in range(h+1):
                    for q in range(k, nCols):
                        D[i][j] = D[i][j] + list(myCrosstable.iloc[p])[q]

    P = 0
    Q = 0
    for i in range(nRows):
        for j in range(nCols):
            P = P + C[i][j] * list(myCrosstable.iloc[i])[j]
            Q = Q + D[i][j] * list(myCrosstable.iloc[i])[j]
               
    GKgamma = (P - Q) / (P + Q)
    
    n = myCrosstable.sum().sum()
    
    Z1 = GKgamma * ((P + Q) / (n * (1 - GKgamma**2)))**0.5
    
    forASE_R = 0
    forASE_SPSS = 0
    for i in range(nRows):
        for j in range(nCols):
            forASE_R = forASE_R + list(myCrosstable.iloc[i])[j] * (Q * C[i][j] - P * D[i][j])**2
            forASE_SPSS = forASE_SPSS + list(myCrosstable.iloc[i])[j] * (C[i][j] - D[i][j])**2

    ASE_R = 4 * (forASE_R)**0.5 / (P + Q)**2
    ASE_SPSS = 2 * (forASE_SPSS - (P - Q)**2 / n)**0.5 / (P + Q)        
    Z_R = GKgamma / ASE_R
    Z_SPSS = GKgamma / ASE_SPSS
    
    from scipy.stats import norm
    
    p1 = norm.sf(Z1)
    p2_R = norm.sf(Z_R)
    p3_SPSS = norm.sf(Z_SPSS)
            
    return print('gamma statistic is %0.3f, p_value for R Software is %0.3f, ASE for R software is %0.3f, p_value for SPSS is %0.3f, ASE for SPSS is %0.3f' %(GKgamma,p2_R,Z_R,p3_SPSS,Z_SPSS))

In [449]:
Ogun_ndhs2013['v013'].value_counts()

25-29    122
30-34    108
35-39     88
15-19     88
20-24     82
40-44     80
45-49     62
Name: v013, dtype: int64

In [450]:
Ogun_ndhs2013['v190'].value_counts()

Richest    237
Richer     237
Middle     114
Poorer      40
Poorest      2
Name: v190, dtype: int64

In [451]:
#We will recode into: No method, Modern Method, and Others
recode_v190 =  { "v190": 
                             {"Richest": 'Rich',  
                              "Richer": 'Rich',  
                              "Middle": 'Middle',  
                              "Poorer": 'Poor' ,
                              "Poorest": 'Poor'}
             }    

Ogun_ndhs2013.replace(recode_v190, inplace=True)

In [452]:
myCrosstable = pd.crosstab(Ogun_ndhs2013['v013'], Ogun_ndhs2013['v190'])
myCrosstable

v190   Middle  Poor  Rich
v013
15-19      11     5    72
20-24      13     4    65
25-29      27     4    91
30-34      16    11    81
35-39      16     6    66
40-44      16     6    58
45-49      15     6    41

In [453]:
Ogun_ndhs2013['v190'].value_counts()

Rich      474
Middle    114
Poor       42
Name: v190, dtype: int64

In [456]:
goodmanKruskalgamma(Ogun_ndhs2013, 'v013', 'v190')

gamma statistic is -0.122, p_value for R Software is 0.983, ASE for R software is -2.110, p_value for SPSS is 0.982, ASE for SPSS is -2.093

# 4.2.6 Chi-square Goodness of fit test

In [485]:
import pandas as pd
path=r'B:\...\...\...\Ogun_NDHS_2013.dta'
Ogun_ndhs2013=pd.read_stata(path)
Variables_needed=['v313','v025', 'v012', 'v013', 'v203', 'v205', 'v218', 'v106', 'v190']
Ogun_ndhs2013=Ogun_ndhs2013[Variables_needed]

In [486]:
import sklearn as svm
from sklearn.feature_selection import chi2

In [487]:
Ogun_ndhs2013 ['v313'].value_counts()

No method             489
Modern method         118
Traditional method     16
Folkloric method        7
Name: v313, dtype: int64

In [488]:
X_y=Ogun_ndhs2013[['v313','v025']]

In [489]:
X_y.shape

(630, 2)

In [490]:
X_y['v313'].value_counts()

No method             489
Modern method         118
Traditional method     16
Folkloric method        7
Name: v313, dtype: int64

In [491]:
X_y['v025'].value_counts()

Urban    358
Rural    272
Name: v025, dtype: int64

In [492]:
#We will recode v313 into 2-response-category designated as 1 and 0
v313_recode =  { "v313": 
                             {"No method": 0,  
                              "Modern method": 1,  
                              "Traditional method": 0,  
                              "Folkloric method": 0}
             }    

X_y.replace(v313_recode, inplace=True)

In [493]:
X_y['v313'].value_counts()

0    512
1    118
Name: v313, dtype: int64

In [494]:
#We will recode v025 into 2-response-category designated as 1 and 2
v025_recode =  { "v025": 
                             {"Urban": 1,  
                              "Rural": 2}
             }    

X_y.replace(v025_recode, inplace=True)

In [495]:
X_y['v025'].value_counts()

1    358
2    272
Name: v025, dtype: int64

In [496]:
X = X_y.drop('v313',axis=1)
y = X_y['v313']

In [497]:
chi_scores = chi2(X, y)

In [498]:
print('statistic=%.8f, p_value=%.8f' % (chi_scores[0], chi_scores[1]))

statistic=0.00002121, p_value=0.99632516

# 4.2.7 Mcnemar test

In [499]:
import pandas as pd
path=r'B:\...\...\...\Ogun_NDHS_2013.dta'
Ogun_ndhs2013=pd.read_stata(path)
Variables_needed=['v313','v025', 'v012', 'v013', 'v203', 'v205', 'v218', 'v106', 'v190']
Ogun_ndhs2013=Ogun_ndhs2013[Variables_needed]

In [510]:
import numpy as np
import statsmodels as sm
import statsmodels.stats as sms
from statsmodels.stats.contingency_tables import mcnemar

In [500]:
#We would use variable - v313

Ogun_ndhs2013 ['v313'].value_counts(normalize=True) * 100

No method             77.619048
Modern method         18.730159
Traditional method     2.539683
Folkloric method       1.111111
Name: v313, dtype: float64

In [501]:
Ogun_ndhs2013['pre_test_using_modern_method']=Ogun_ndhs2013['v313']

In [502]:
#We will recode into: Yes, No
pre_recode =  { "pre_test_using_modern_method": 
                             {"No method": 'No',  
                              "Modern method": 'Yes',  
                              "Traditional method": 'No',  
                              "Folkloric method": 'No'}
             }    

Ogun_ndhs2013.replace(pre_recode, inplace=True)

In [503]:
Ogun_ndhs2013 ['pre_test_using_modern_method'].value_counts(normalize=True) * 100

No     81.269841
Yes    18.730159
Name: pre_test_using_modern_method, dtype: float64

In [504]:
Ogun_ndhs2013['post_test_using_modern_method']=Ogun_ndhs2013['v313']

In [505]:
Ogun_ndhs2013 ['post_test_using_modern_method'].value_counts(normalize=True) * 100

No method             77.619048
Modern method         18.730159
Traditional method     2.539683
Folkloric method       1.111111
Name: post_test_using_modern_method, dtype: float64

In [506]:
#We will recode into: No method, Modern Method, and Others
post_recode =  { "post_test_using_modern_method": 
                             {"No method": 'No',  
                              "Modern method": 'Yes',  
                              "Traditional method": 'Yes',  
                              "Folkloric method": 'Yes'}
             }    

Ogun_ndhs2013.replace(post_recode, inplace=True)

In [507]:
Ogun_ndhs2013 ['post_test_using_modern_method'].value_counts(normalize=True) * 100

No     77.619048
Yes    22.380952
Name: post_test_using_modern_method, dtype: float64

#We would make a contingency table first

In [509]:
tab0=pd.crosstab(index=Ogun_ndhs2013.pre_test_using_modern_method, columns=Ogun_ndhs2013.post_test_using_modern_method)
print(tab0)

post_test_using_modern_method   No  Yes
pre_test_using_modern_method
No                             489   23
Yes                              0  118

In [513]:
# We can re-construct the table as: 
# define contingency table
table = [[489, 23],
         [0, 118]]

In [511]:
result=mcnemar(tab0, exact=True)

In [514]:
# summarize the finding
print('statistic=%.6f, p-value=%.6f' % (result.statistic, result.pvalue))

statistic=0.000000, p-value=0.000000

# 4.2.8 Kendall Tau Correlation

In [ ]:
import pandas as pd
path=r'B:\...\...\...\Ogun_NDHS_2013.dta'
Ogun_ndhs2013=pd.read_stata(path)
Variables_needed=['v313','v025', 'v012', 'v013', 'v203', 'v205', 'v218', 'v106', 'v190']
Ogun_ndhs2013=Ogun_ndhs2013[Variables_needed]

In [2]:
import numpy as np
from scipy import stats
from scipy.stats import kendalltau

In [3]:
Age_X=Ogun_ndhs2013['v012']
No_Living_Chid_Y=Ogun_ndhs2013['v218']

In [4]:
stats.kendalltau(Age_X, No_Living_Chid_Y)

KendalltauResult(correlation=0.5718627090947149, pvalue=4.569783938686728e-87)

In [5]:
tau, p_value = kendalltau(Age_X, No_Living_Chid_Y)

In [6]:
tau, p_value

(0.5718627090947149, 4.569783938686728e-87)